@media screen and (max-width: 767px) {
    .App {
        box-sizing: padding-box;
        -moz-box-sizing: padding-box;
        top: 10% !important;
        width: 90% !important;
        left: 5% !important;
        right: 5% !important;
        height: 10vh;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        ::-webkit-scrollbar {
            display:none;
            background: transparent;
        }
    }

    .App-intro {
        margin-bottom: 30% !important;
    }

    .Sidebar {
        /* width: 0% !important;
        display: none !important;
        visibility: hidden !important;
        height: 0% !important; */
    }
 }

 @media (min-width: 1500px) {
    .StepCards {
        height: 20rem !important;
    }
 }

#ScrollContainer{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.App {
    position: absolute;
    right: 5%;
    left: 20%;
    height: 100%;
}
/*
.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.glowing-border:focus {
    outline: none;
    border-color: #7a4344;
    box-shadow: 0 0 10px #7a4344;
} */

.shake {
    outline: none;
    border-color: #7a4344 !important;
    box-shadow: 0 0 10px #7a4344 !important;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    display: inline-block;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.Sidebar {
    /* left: 0; */
    width: 15% !important;
}

.App-logo {
}

.sidemenu {
    height: 70%;
}

.App-header {
  /*background-color: #824c4c;*/
  height: 40%;
  padding: 20px;
  color: #824c4c;
}

.App-intro {
    margin-bottom: 5%;
    font-size: large;
}
