@media screen and (max-width: 767px) {
    .App {
        box-sizing: padding-box;
        -moz-box-sizing: padding-box;
        top: 10% !important;
        width: 90% !important;
        left: 5% !important;
        right: 5% !important;
        height: 10vh;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        ::-webkit-scrollbar {
            display:none;
            background: transparent;
        }
    }

    .App-intro {
        margin-bottom: 30% !important;
    }

    .Sidebar {
        /* width: 0% !important;
        display: none !important;
        visibility: hidden !important;
        height: 0% !important; */
    }
 }

 @media (min-width: 1500px) {
    .StepCards {
        height: 20rem !important;
    }
 }

#ScrollContainer{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.App {
  /* text-align: center; */
    position: absolute;
    /* width: 60%; */
    right: 5%;
    left: 20%;
    height: 100%;
}

.Sidebar {
    /* left: 0; */
    width: 15% !important;
}

.App-logo {
}

.sidemenu {
    height: 70%;
}

.App-header {
  /*background-color: #824c4c;*/
  height: 40%;
  padding: 20px;
  color: #824c4c;
}

.App-intro {
    margin-bottom: 5%;
    font-size: large;
}
